p{
  font-family: roboto;
}
      a {
        color: rgb(255, 72, 0);
      }
      .a:hover {
        background-color: rgb(110, 19, 228);
      }
      .but1 {
        background-color: rgb(201, 4, 4);
        color: white;
        width: 105px;
        border: none;
        margin: 10px;
        height: 37px;
        border-radius: 5px;
        cursor: pointer;
      }
      .but1:hover {
        opacity: 0.5;
      }
      .but2 {
        background-color: white;
        border-color: rgb(109, 71, 243);
        color: blue;
        width: 78px;
        margin: 10px;
        height: 37px;
        border-radius: 5px;
        cursor: pointer;
        border-style: solid;
        border-width: 1px;
      }
      .but3 {
        background-color: rgb(112, 170, 236);
        color: white;
        border-radius: 50px;
        width: 105px;
        border: none;
        margin: 10px;
        height: 37px;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
      }
      .but3:hover {
        box-shadow: 5px 5px 5px rgb(83, 83, 83);
      }
      .but4{
        background-color: rgb(187, 4, 4);
        color: white;
        padding-top: 18px;
        padding-bottom: 18px;
       text-align: center;
        margin-bottom: 50px;
        font-size: 15px;
width: 500px;
border: 1.5px;

      }
   .span1:hover{
    text-decoration: underline;
    cursor: pointer;

   }